DISCORD_WEBHOOK_URL_1=https://discord.com/api/webhooks/<id>/<token>
DISCORD_WEBHOOK_FOOTER_1=kimtaeeun.site

DISCORD_WEBHOOK_URL_2=https://discord.com/api/webhooks/<id>/<token>
DISCORD_WEBHOOK_LABEL_2=개발 서버

IP_CHECK_INTERVAL=300
