<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>site.kimtaeeun.docker-startup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/snowykte0426/Downloads/homeserver-setting/scripts/docker-startup.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/kimtaeeun-startup-error.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/kimtaeeun-startup.log</string>
</dict>
</plist>
