<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>site.kimtaeeun.docker-startup</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>for i in 1 2 3 4 5 6 7 8 9 10 11 12; do /usr/bin/ssh -i /Users/snowykte0426/.ssh/launchd_localhost -o BatchMode=yes -o IdentitiesOnly=yes -o StrictHostKeyChecking=yes snowykte0426@localhost docker-startup &amp;&amp; exit 0; sleep 10; done; exit 1</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>WorkingDirectory</key>
	<string>/Users/snowykte0426</string>
	<key>StandardErrorPath</key>
	<string>/tmp/kimtaeeun-startup-error.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/kimtaeeun-startup.log</string>
</dict>
</plist>
